body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
}

h2 {
  color: white;
}

.canvas {
  display: flex;
  justify-content: center;
}

.container {
  max-height: 512px;
  max-width: 512px;
  border: 4px gray solid;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.grid-square {
  height: 32px;
  width: 32px;
  flex-shrink: 1;
  background-color: white;
}
